@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body
{
    font-family: 'Trade Winds' ;
    background-size: cover;
    background-repeat: no-repeat;
}
div.header{
     background-image: url("Yosemite_nat_park_valley_view.png");
     background-size: 100% 100%;
     background-repeat: no-repeat;
     height:300px;
}

.username{
    color:white;
}

img
{
    width:100px;
    height:100px;
}

div.header
{
    text-align:center;
}

body
{
    background-color:cornflowerblue;
}

.day-box
{
    margin:5px;
    padding:5px;
    border-style: groove;
    background-color:green;
    font-size: 20px;
}

.day-box div{
    background-color:lime;
}


.day-box.COMPLETED
{
    border-style:inset;
    background-color:brown;
}
.day-box.COMPLETED div{
    background-color:burlywood;
    /*background-image: url("leaf-illustration-clip-art.png");*/
    /*background-repeat: no-repeat;*/
}

.reading
{
    border-style:outset;
    padding:5px;
}
.nav a
{
    margin:0.5%;
    border-style:ridge;
    padding:0.3%;
    background-color:white;
    font-size: 30px;
}
.nav a:hover {
    filter: brightness(75%);
}
div.header span.username
{   
    font-size:75px;
    padding: 40px;
}
.person_info
{
    margin:20px;
}

.day-box div.day{
  background-image: url("green_leaves_PNG3665.png");
    background-repeat: no-repeat;
    background-position: right;
  height: 40px;

}

.day-box.COMPLETED div.day{
    background-image: url("autumn-leaf-vector-files.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
}

.day-box div:hover {
    filter: brightness(75%);
}

/*--------------------------For classmates Page.----------------------------*/
table {

    border-style:ridge;
    border-color:beige;
    margin:5px;
    padding:5px;
    background-color:burlywood
}

tr td{
    color:black;
    border-style:ridge;
    padding;
    text-align:center;
    font-size:larger
}

tr th {

    color: blue; 
}

tr td img
{
    width:200px;
    height:200px; 
}
/*--------------------------------------------------------*/

/*----------------------------For my account page----------------------------*/

form{
    text-align:center;
    font-size: 30px;
    width: 100%;
}
label{
    display:block;
    text-align:left;
    --float:left;
    padding:10px;
}

input[type=text] {
  display:inline;
  width: 50%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  text-align:center; 
  font-size:16px;
  --float: center;
}

input[name=person_first_name] { /*This tag is really just here in case we want to mess with the indevidual text boxes*/
  /*color:red;*/
  width: 50%;
}
/*---------------------------------------------*/

/*--------------seating------------*/
svg{
  width:80%;
  height:60%;
  float:right;
  margin:40px; 
}

/*---------Squirrel Code-----------*/
div#special1.special{
  background-image: url("Squirrel-Profile_Left.png");
  position: absolute;
  z-index: 1000;
  height: 100px;
  width: 100px;
  right:50px;
  top:20px;
  animation-name: scurry;
  animation-duration: 4s;
  
}

/*---------Acorn-------------*/
div#special2.special
{
  background-image: url("Acorn.png");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1000;
  height: 75px;
  width: 75px;
  left:20px;
  top:40px;
  animation-name: eaten;
  animation-delay: 2s;
}


/*---------Squirrel Animation----------
Source: https://www.w3schools.com/css/css3_animations.asp
*/
@keyframes scurry
{
  0% {right:0%}
  25% {right:25%;}
  50% {right: 50%;}
  75% {right:75%;}
  100% {right: 98%;}
}

/*Acorn disappears as if eaten*/
@keyframes eaten
{
    99% {opacity: 1;}
    100% {opacity: 0;}
}

